header{padding: 15px 15px 15px 15px;
        text-align: center;
        color: white;
        background-color: black;
        background: url(Afbeeldingen/FotoTafel.jpg);
        background-size: cover;
        height: 400px;}

body{font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:black}

nav{
    background-color:black;
    text-align: center;}


nav li{display:inline;
        padding: 10px;}

nav a{text-decoration: none;}

a:visited{color:white;}

a:hover{font-weight: bold;}
 
article{margin-top: 20px;
        padding: 15px;}
        
section{background-color:black;
        border-radius: 15px;
        border: solid 4px #b3af54;
        padding: 5px 20px 5px 20px;
        margin-bottom: 10px;
        color:white;
        border-style: double;
        }

footer{color:#b3af54;
        text-align: right;
        padding: 5px 10px 5px 10px;}


h2{color:#b3af54;
   font-size: 20px;}

h1{
color:white;
background-color: black;
max-width: 450px;
font-size: 20px;
}

#header{
        background-color: black;
        text-align: center;
        max-width: 230px;
        max-height: 245px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align:center;
        border-style:double;
        margin-left: 600px;
        margin-top: 130px;}

#VoorgevelKleinZoersel{margin-left: 500px;
                        border-radius: 7px;}

#Openingsuren{max-width: 220px;
              float:right;
              border-style:dotted;
              border-style: double;
              margin-top: 20px; }
